.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: black;
  padding-left: 100px;
  padding-right: 90px;
}

nav.header a {
  text-decoration: none;
  color: aliceblue;
}

nav.header a:hover {
  color: brown;
}
